<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Controller\Adminhtml\System\Config\Save">
        <plugin name="around_core_config_save" type="Daniel\ConfigurationHistory\Plugin\ConfigChangeSave" sortOrder="1" />
    </type>

    <virtualType name="Daniel\Configuration\Model\ResourceModel\CoreConfigHistory\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">core_config_history</argument>
            <argument name="resourceModel" xsi:type="string">\Daniel\ConfigurationHistory\Model\ResourceModel\CoreConfigHistory\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="confighistory_listing_data_source" xsi:type="string">Daniel\Configuration\Model\ResourceModel\CoreConfigHistory\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
